
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Movies</title>
    <link rel="stylesheet" type="text/css" href="">
  </head>
<body>
<ul>

<h1> Pick a Movie: </h1>

 <body>
<form action="/movies" method="get">
<label for="movie name">Search</label>
<input type="text" id="movies" name="movies" />
<input type="submit" />
</form>

  <% @sorted_movies.each do |movie| %>
    <a href="/movies/<%=movie["id"]%>"><%= movie["title"] %></a></br>
  <% end %>



</body>
</html>

